textarea:focus, input:focus, select > option {
  color: $black;
}
.form__group {
  position: relative;
	margin:0 0 60px 0;
	font-family: $font-family-regular-book;
	font-size:$font-size-xsmall;
	color: $secondary-color-07;
	p {
		padding-top:5px;
	}
  a {
    font-size:$font-size-xsmall;
    color: $color-light-lime;
    text-decoration: underline;
    &.text {
      &--red {
        color: $color-red;
      }
      &--green {
        color: $color-light-lime;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  label {
    font-weight: normal;
  }

  textarea {
    border: 1px solid $secondary-color-07;
    min-height: 335px;
    max-width: 790px;
    display: block;
  }

  input[type="file"] {
    display: block;
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    top: 0;
    right: 0;

   .c-section-box-submit-work-additional & {
      height: auto;
    }
  }
}

.form__input {
	width:100%;
  padding-top:5px;
	padding-bottom:8px;
	border:0;
	border-bottom:1px solid $secondary-color-07;
	font-family: $font-family-regular-book;
	font-size:$font-size-small;
	color: $black;
	letter-spacing:1px;
  line-height: $font-size-small;
  background-color: white;
	&:focus {
		outline: 0;
	}
}

.form__group {
  &--checkbox {
    @media (--all-phones) {
      margin: 0 15px 0 15px;
    }

    @media (--all-tablets) {
      margin: 0 20px 0 20px;
    }

    @media (--desktop) {
      margin-bottom: 40px;
    }

    /* start custom checkbox */
    /* Base for label styling */
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:not(:checked) + [type="hidden"] + label,
    [type="checkbox"]:checked + label,
    [type="checkbox"]:checked + [type="hidden"] + label {
      position: relative;
      padding-left: 30px;
      cursor: pointer;
    }

    /* checkbox aspect */
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:not(:checked) + [type="hidden"] + label:before,
    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:checked + [type="hidden"] + label:before {
      content: '';
      position: absolute;
      left:0; top: 2px;
      width: 17px; height: 17px;
      border: 1px solid #aaa;
      background: $white;
      border-radius: 0px;
      /*box-shadow: inset 0 1px 3px rgba(0,0,0,.3)*/
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:not(:checked) + [type="hidden"] + label:after,
    [type="checkbox"]:checked + label:after,
    [type="checkbox"]:checked + [type="hidden"] + label:after {
      content: '';
      position: absolute;
      top: 6px;
      left: 4px;
      height: 9px;
      width: 9px;
      color: $primary-color-02;
      background-color: $primary-color-02;
      transition: all .2s;
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:not(:checked) + [type="hidden"] + label:after {
      opacity: 0;
      transform: scale(0);
    }
    [type="checkbox"]:checked + label:after,
    [type="checkbox"]:checked + [type="hidden"] + label:after {
      opacity: 1;
      transform: scale(1);
    }
    /* disabled checkbox */
    [type="checkbox"]:disabled:not(:checked) + label:before,
    [type="checkbox"]:disabled:not(:checked) + [type="hidden"] + label:before,
    [type="checkbox"]:disabled:checked + label:before,
    [type="checkbox"]:disabled:checked + [type="hidden"] + label:before {
      box-shadow: none;
      border-color: #bbb;
      background-color: #ddd;
    }
    [type="checkbox"]:disabled:checked + label:after,
    [type="checkbox"]:disabled:checked + [type="hidden"] + label:after {
      color: #999;
    }
    [type="checkbox"]:disabled + label,
    [type="checkbox"]:disabled + [type="hidden"] + label {
      color: #aaa;
    }
    /* accessibility */
    [type="checkbox"]:checked:focus + label:before,
    [type="checkbox"]:checked:focus + [type="hidden"] + label:before,
    [type="checkbox"]:not(:checked):focus + label:before,
    [type="checkbox"]:not(:checked):focus + [type="hidden"] + label:before {
      border: 1px dotted blue;
    }

    /* hover style just for information */


    /* end of custom checkbox */
  }
}
.l-page--reset-password,.c-section-box-register, .c-section-box-account {
  .input__container--password {
    .tooltip-icon__container {
      position: absolute;
      right: 0;
      top: 0;
      span {
        .icon {
          color: $secondary-color-08;
          font-size: $font-size-large;
        }
        .tooltip {
          width: auto;
        }
        .left {
          @media (--portrait-phones) {
            top: -40px !important;
            left: -202px !important;
          }
          top: -26px !important;
          left: -295px !important;
        }
      }
    }
  }
}

.section__termsandconditons {
  margin-bottom: 30px;
}
.c-section-box-register{
  .form__group--checkbox {
    padding: 0 13px;
  }
  .btn-register {
    @media (--desktop) {
      margin-top: 50px !important;
    }
  }
}
.c-section-box-register, .c-section-box-login {
  .btn-primary--green {
    margin-top: 63px;
    font-family: $default-font-family;
    @media (--desktop) {
      margin-top: 0;
    }
  }
}
.c-section-box-login {
  .error-msg-box {
    text-align: left;
    margin-left: 15px;
  }
}
.form__input {
  &--checkbox {
    /* not used for custom checkbox*/
    /*position: absolute*/
  }
}

.form__label {
  &--checkbox {
    /* not used for custom checkbox*/
    /*display: inline-block;
    margin-left: 25px;*/
    font-size: $font-size-small;
    color:$secondary-color-07;
    font-family: $font-family-regular-book;
    letter-spacing: 1px;
    font-weight: $font-weight-normal;

    .c-section-box-register & {
      @mixin font-settings $font-size-tiny, , normal;
      text-align: left;
      margin-bottom: 10px;
      @media (--desktop) {
        margin-bottom: 0px;
      }
    }
    a {
      color:$secondary-color-02;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.form__error {
  .alert {
    border-radius: 0;
  }
  .alert-danger {
    position: absolute;
    width: 100%;
    margin-top:-1px;
    padding-left: 0;
    background-color:transparent;
    border-color: transparent;
    border-top:1px solid $color-alert;
    text-align: left;
    font-size: $font-size-xsmall;
    color: #ff0000;
  }
}
/* Custom textarea for submit work form */
.c-section-box-submit-work {
  .form__group {
    textarea {
      border: 1px solid $secondary-color-07;
      min-height: 200px;
      max-width: 790px;
      display: block;
    }
  }
  .c-section__content & {
    text-align: left;
  }

  .row:nth-child(2) {
    @media (--desktop) {
      margin-right: -18px;
      margin-left: -18px;
    }
  }
  h2 {
    font-size: $font-leading-normal;
  }
}
/* End of custom textarea for submit work form */

.form-separator { margin: 10% 0 0 0; }

.work__container {
  .row:nth-child(2) {
    /* @media (--desktop) {
      margin-bottom: 50px;
    } */
    .col-md-6:nth-child(2) {
      @media (--desktop) {
        margin-top: 60px;
      }
    }
  }
  .btn-primary {
    @media (--desktop) {
      position: relative;
      top: -26px;
    }
  }
}
.my-account-section {
  .c-section__content {
    text-align: left;
  }
}

/* to be remove after demo */

@each $background-color, $i in ($primary-color-01, $primary-color-02, $primary-color-03, $secondary-color-04), (1, 2, 3, 4) {
  [data-upload-theme='$(i)'] {
    background-color:$background-color;
  }
}

label.upload-file {
  margin-bottom: 0;
}

.upload-file {
  width: 100.5%;
  height: 250px;
  margin-left: -2px;
  text-align: center;
  text-transform: uppercase;
  .custom-file-input {
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    width: 0.1px;
    z-index: -1;
  }
  .upload-content {
    margin-top: 50px;
  }
  span {
    display: block;
    padding-bottom: 3px;
    color:$black;

    &.first-text {
      margin-top:-18px;
      font-size:25px;
    }
    &.second-text {
      font-family: $font-family-regular-book;
      font-size:14px;
    }
    i {
      color:$black;
      font-size:60px;
    }
  }
  &:hover {
    background: $secondary-color-04;
    span, i {
       color:$primary-color-03;
    }

  }
}

#login {
  .form__group {
    a {
      color: $secondary-color-02;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

}

.form-delete-field {
  position: absolute;
  right: 0;
  top: 0;
  font-family: $font-family-regular-book;
  font-size: $font-size-small;
  font-weight: bold;
  cursor: pointer;
}

.c-section-form {
  .form__label--checkbox {
    font-size: $font-size-small;
  }
  .description-error-placeholder .alert-danger {
    border:none;
    width: auto;
    word-break: break-word;
  }
}

.work__container {
  .btn-primary {
    &.submit-btn {
      top:0;
    }
  }
}

textarea.parsley-error {
  border: 1px solid $color-alert;
}

/* date of birth - dob */

.datefield {
  padding: 8px 8px 8px 0;
  border-bottom: 1px solid #999;
  overflow: hidden;

  input {
    padding: 0 8px;
    border: none;
    font-size: $font-size-small;
    background: none;
    color: #000;
    text-align: center;
  }

  input#day {
    padding-left: 0;
    width: 30px;
  }
  input#month {
    width: 46px;
  }
  input#year {
    width: 72px;
  }
  input:focus {
    outline: none;
  }
}

.datefield__input{
  float: left;
  #day {
    width: 42px;
  }
}

#contact .form__group label {
  font-size: 16px;
  letter-spacing: 1px;
}

.c-section-box-login .form__group--checkbox{
  text-align: left;
}


textarea#descriptionId{
  resize: none;
}
