
.icon-arrow-down:before {
	content: "\E001";
}

.icon-arrow-left:before {
	content: "\E002";
}

.icon-arrow-right:before {
	content: "\E003";
}

.icon-arrow-top:before {
	content: "\E004";
}

.icon-badge:before {
	content: "\E005";
}

.icon-bulb:before {
	content: "\E006";
}

.icon-calendar:before {
	content: "\E007";
}

.icon-cancel:before {
	content: "\E008";
}

.icon-career:before {
	content: "\E009";
}

.icon-clock:before {
	content: "\E00A";
}

.icon-cross:before {
	content: "\E00B";
}

.icon-download:before {
	content: "\E00C";
}

.icon-eye:before {
	content: "\E00D";
}

.icon-facebook:before {
	content: "\E00E";
}

.icon-filter:before {
	content: "\E00F";
}

.icon-globe:before {
	content: "\E010";
}

.icon-google-plus:before {
	content: "\E011";
}

.icon-google:before {
	content: "\E012";
}

.icon-info:before {
	content: "\E013";
}

.icon-lamp:before {
	content: "\E014";
}

.icon-link:before {
	content: "\E015";
}

.icon-logout:before {
	content: "\E016";
}

.icon-magnifying-glass:before {
	content: "\E017";
}

.icon-menu:before {
	content: "\E018";
}

.icon-pencil:before {
	content: "\E019";
}

.icon-person:before {
	content: "\E01A";
}

.icon-playbutton-hover:before {
	content: "\E01B";
}

.icon-playbutton:before {
	content: "\E01C";
}

.icon-pound:before {
	content: "\E01D";
}

.icon-projects:before {
	content: "\E01E";
}

.icon-settings:before {
	content: "\E01F";
}

.icon-star:before {
	content: "\E020";
}

.icon-tick:before {
	content: "\E021";
}

.icon-trophy:before {
	content: "\E022";
}

.icon-twitter:before {
	content: "\E023";
}

.icon-upload:before {
	content: "\E024";
}

.icon-video-camera:before {
	content: "\E025";
}

.icon-warning:before {
	content: "\E026";
}
