.select2-container--default {
  input {
    display: none;
  }
  .select2-results__option--highlighted[aria-selected] {
    background-color: $dropdown-selected;
    color: $black;
  }
  .select2-selection--single {
      border: none;
      background-color: $white;
      text-align: left;
      border-bottom: 1px solid $secondary-color-07;
      border-radius: 0 !important;
      .select2-selection__rendered {
        color: $black;
        line-height: 16px;
        font-size: 16px;
      }
      .select2-selection__clear {
        font-weight: inherit;
      }
  }
  .select2-selection__choice__remove:hover {
    background-color: $dropdown-selected;
  }
}

.select2-container--classic .select2-selection--single:focus {
  border: none;
 }

.select2-dropdown {
  background-color: $tooltip-background;
  border: none;
  border-radius: 0;
}

.select2-selection__arrow i.arrow-down {
  border-top: 7px solid $secondary-color-07;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.select2-selection.select2-selection--single:focus {
  outline: 0;
}

.select2-results__option {
  font-family: $font-family-regular-book;
  font-size: 16px;
  padding-left: 28px;
}

.select2-container {
    color: $black;
    .select2-selection--single .select2-selection__rendered {
      padding-left: 0;
    }
}

.select2-search.select2-search--dropdown {
  display: none;
}

.select2-results__options {
  &::-webkit-scrollbar {
  	width: 4px;
    height: 50px;
    padding-right: 25px;
  }
  &::-webkit-scrollbar-thumb {
  	border-radius: 10px;
    background-clip: padding-box;
  	background-color: $secondary-color-07;
  }
}

.select2-results.overflow-active {
  padding-right: 5px;
}
